* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  box-sizing: border-box;
}

body {
  background-color: #c7c7c7;
}

.container {
  width: 75%;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
  grid-gap: 2.5em;

  .Header {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .Skills {
    grid-column: 1;
    grid-row: 2;
  }

  .Blog {
    grid-column: 2;
    grid-row: 2 / 4;
  }

  .Hobbies {
    grid-column: 1;
    grid-row: 3 / 5;
  }

  .Experiences {
    grid-column: 2;
    grid-row: 4;
  }

  .Projects {
    grid-column: 1 / 3;
    grid-row: 5;
  }

  .Experiences,
  .Hobbies,
  .Projects {
    width: 100%;
  }
}
